/* Estilos Gerais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para a seção "Produtos" */
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.sobre-loja__imagem {
  padding-top: 36px;
  padding-right: 8px;
}

.sobre-loja__texto {
  padding-top: 36px;
}

.produto {
  text-align: center;
  flex-basis: calc(50% - 20px); /* Alterado para 50% para exibir dois itens por linha */
  margin-bottom: 20px;
}

.produto img {
  max-width: 100%;
  height: auto;
}

.botao-adicionar {
  background-color: #00ff0d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  justify-items: center;
}

/* Layout responsivo para a seção "sobre a loja" */
#sobre-a-loja {
  flex-direction: column;
}

#sobre-a-loja .container-flex {
  flex-direction: column;
  align-items: center;
}

#sobre-a-loja img {
  margin-bottom: 16px;
}

/* Layout responsivo para a seção de produtos */
.lista-veiculos li {
  width: 100%;
  padding: 16px;
}

/* Adicione as regras para o layout responsivo do menu aqui */

@media screen and (max-width: 767px) {
  /* Adicione as regras para telas menores que 768px aqui */

  /* Layout responsivo para a seção "sobre a loja" */
  .sobre-loja {
    flex-direction: column;
  }

  .sobre-loja__imagem {
    padding-top: 36px;
    padding-right: 8px;
  }

  .sobre-loja__texto {
    padding-top: 36px;
  }

  /* Layout responsivo para a seção de produtos */
  .produto {
    flex-basis: 100%;
  }
}